<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
			<title>Login</title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
			<link rel="stylesheet" href="/css/Login.css"/>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		</head>
		<body>
			<nav class="navbar navbar-inverse navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"/>
							<span class="icon-bar"/>
							<span class="icon-bar"/>
						</button>
						<a class="navbar-brand" href="myTeam.html">NBADex</a>
					</div>
				</div>
			</nav>
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<ul class="nav nav-tabs final-login" id="myTabs">
							<li class="active">
								<a data-toggle="tab" class="active" href="#LogIn" aria-controls="LogIn">Log In</a>
							</li>
							<li>
								<a data-toggle="tab" href="#SignUp" aria-controls="SignUp">Sign up</a>
							</li>
						</ul>
						<div class="tab-content">
							<div id="LogIn" class="tab-pane fade in active" role="tabpanel">
								<form class="form-signin">
									<label for="LogInEmail">E-Mail</label>
									<input type="email" id="LogInEmail" class="form-control" placeholder="E-Mail" required autofocus/>
									<label for="inputPassword">Password</label>
									<input type="password" id="LogInPassword" class="form-control" placeholder="Password" required/>
									<div class="checkbox">
										<label>
											<input type="checkbox" value="remember-me"/> Remember me
										</label>
										<label>
											<input type="checkbox" value="remember-me"/> Admin
										</label>
									</div>
									<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
								</form>
							</div>
							<div id="SignUp" class="tab-pane" role="tabpanel">
								<form class="form-signup">
									<label for="SignUpName">Name</label>
									<input type="name" id="SignUpName" class="form-control" placeholder="Name">
									<label for="SignUpEmail">Email</label>
									<input type="email" id="SignUpEmail" class="form-control" placeholder="Email">
									<label for="SignUpPassword">Password</label>
									<input type="password" id="SignUpPassword" class="form-control" placeholder="Password"/>
									<button class="btn btn-lg btn-primary btn-block" type="submit" id="signupbtn">Sign Up</button>
								</form>
								<button type="button" class="btn btn-lg btn-primary btn-block" id="googlebtn">Sign Up with Google+</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!--Bootstrap JS-->
			<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
			<script type="text/javascript">
			var config = {
			apiKey: "AIzaSyCcIuaDuAx9NFJKzBj4FkuR3e320eGuS_g",
			authDomain: "nbadex-ff8cf.firebaseapp.com",
			databaseURL: "https://nbadex-ff8cf.firebaseio.com",
			storageBucket: "nbadex-ff8cf.appspot.com",
			messagingSenderId: "172457613001"
			};

			firebase.initializeApp(config);
			const auth = firebase.auth();
			
			$('.form-signin').on('submit', event => {
			event.preventDefault();
			const email = document.getElementById("LogInEmail").value;
			const pass = document.getElementById("LogInPassword").value;
			const promise = auth.signInWithEmailAndPassword(email,pass);
            promise.catch(e  => console.log(e.message));
				
			});	

			$('.form-signup').on('submit', event => {
			event.preventDefault();
			const email = document.getElementById("SignUpEmail").value;
			const pass = document.getElementById("SignUpPassword").value;
			const promise = auth.createUserWithEmailAndPassword(email,pass);
			//auth.signInWithEmailAndPassword(email,pass);
			});

            firebase.auth().onAuthStateChanged(user => {
                if(user){
                    console.log('hi');
                    console.log(user);
                    window.location = 'myTeam.html'
                }
            });

			</script>
		</body>
	</html>
	