<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
	<link rel="stylesheet" href= "/css/managePlayers.css" type="text/css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
	<title>AllPlayers</title>
</head>
<body>
    <div id="app">
	<nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                </button>
                <a class="navbar-brand" href="myTeam.html">NBADex</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="myTeam.html">My Team</a></li>
                    <li class="active"><a href="managePlayers.html">Player Management</a></li>
                    <li><a href="myTeamStats.html">View Stats</a></li>
                    <li><a href="seasonSimulation.html">Simulate Season</a></li>
                    <li><a href="" id="LogOut">Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
	<div class="container">
		<div class="row">
			<h2 class="col-md-3">All Players</h2>
			<button class="btn btn-primary btn-md col-md-offset-7 col-md-2 create" data-toggle="modal" data-target="#addPlayerModal">Add New Player</button>
		</div>
		<div class="modal fade" id="addPlayerModal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
                        <div class="container-fluid" style="background:transparent;">
                            <div class="row" style="display: flex; aglign-items: center">
                                <h4 class="col-md-11">Add New Player</h4>
                                <button type="button" class="close col-md-1" data-dismiss="modal">&times;</button>
                            </div>
                        </div>
					</div>            
                    <div class="modal-body">
                        <form class="form-player container-fluid">
                            <div class="row">
                                <div class="col-md-offset-0 col-md-4">
                                    <div class="thumbnail" style="max-height:250px;max-width:250px;">
                                        <img src="../img/avatar.jpg" alt="Upload player avatar" id="playerImg" class="img-responsive">
                                        <div class="caption">
                                            <input type="file" value="upload" id="imgFile"/>
                                        </div>
                                    </div>
                                    <br><br>
                                    <button v-on:click="addNewPlayer($event)" type="submit" class="btn btn-success btn-lg btn-block" data-dismiss="modal">Submit</button>
                                    <button type="button" class="btn btn-default btn-lg btn-block" data-dismiss="modal" id="bot-btn">Cancel</button> 
                                </div>
                                <div class="input_group col-md-8">
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="name" placeholder="Name">
                                        </div>
                                        <br>
                                    <div class="form-group">
										<div class="col-sm-10">
                                            <select class="form-control" id="position">
												<option>PG</option>
												<option>SG</option>
												<option>SF</option>
												<option>PF</option>
												<option>C</option>
											</select>
										</div>
                                    </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="PPG" placeholder="Point per game">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="FG" placeholder="Field Goal %">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="APG" placeholder="Asists per game">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="RPG" placeholder="Rebound per game">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="SPG" placeholder="Steal per game">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="BPG" placeholder="Block per game">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="PER" placeholder="Player efficiency rating">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="Price" placeholder="Price">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<table class="table table-striped table-hover table-condensed">
			<caption>List of all NBA players available to add to your team</caption>
			<thead>
				<tr>
					<th>Name</th>
					<th>Position</th>
					<th>PPG</th>
					<th>FG%</th>
					<th>APG</th>
					<th>RPG</th>
					<th>SPG</th>
					<th>BPG</th>
					<th>PER</th>
					<th>Price</th>
					<th>Edit Player</th>
                    <th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="player in players">
                    <td id="pname">{{ player.name }}</td>
					<td>{{ player.position }}</td>
                    <td>{{ player.pointsPerGame }}</td>
					<td>{{ player.fieldGoalPercentage }}</td>
					<td>{{ player.assistsPerGame }}</td>
					<td>{{ player.reboundsPerGame }}</td>
					<td>{{ player.stealsPerGame }}</td>
					<td>{{ player.blocksPerGame }}</td>
					<td>{{ player.playerEfficiencyRating }}</td>
					<td>{{ player.price }}</td>
					<td>
						<button class="EditPlayerBtn" v-on:click="populate(player)" data-toggle="modal" data-target="#editPlayerModal">Update</button>
					</td>
                    <td><span class="glyphicon glyphicon-trash" aria-hidden="true" v-on:click="deletePlayer(player)"></span></td>
                    <div class="modal fade" id="editPlayerModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="container-fluid" style="background:transparent;">
                                        <div class="row" style="display: flex; aglign-items: center">
                                            <h4 class="col-md-11">Edit Player</h4>
                                            <button type="button" class="close col-md-1" data-dismiss="modal">&times;</button>
                                        </div>
                                    </div>
                                </div>            
                                <div class="modal-body">
                                    <form class="form-player container-fluid">
                                        <div class="row">
                                            <div class="col-md-offset-0 col-md-4">
                                                <div class="thumbnail" style="max-height:250px;max-width:250px;">
                                                    <img id="editImg" src="../img/avatar.jpg" alt="Upload player avatar" id="playerImg" class="img-responsive">
                                                    <div class="caption">
                                                        <input type="file" value="upload" id="imgFileEdit"/>
                                                    </div>
                                                </div>
                                                <br><br>
                                                <button v-on:click="editPlayer" type="submit" class="btn btn-success btn-lg btn-block" data-dismiss="modal">Submit</button>
                                                <button type="button" class="btn btn-default btn-lg btn-block" data-dismiss="modal" id="bot-btn">Cancel</button> 
                                            </div>
                                            <div class="input_group col-md-8">
                                                <div class="form-group">
                                                    <div class="col-sm-10">
                                                        <input disabled type="text" class="form-control" id="editName" placeholder="Name">
                                                    </div>
                                                    <br>
												<div class="form-group">
													<div class="col-sm-10">
														<select class="form-control" id="editPosition">
															<option>PG</option>
															<option>SG</option>
															<option>SF</option>
															<option>PF</option>
															<option>C</option>
														</select>
													</div>
												</div>
                                                   <div class="form-group">
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="editPPG" placeholder="Point per game">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="editFG" placeholder="Field Goal %">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="editAPG" placeholder="Asists per game">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="editRPG" placeholder="Rebound per game">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="editSPG" placeholder="Steal per game">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="editBPG" placeholder="Block per game">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="editPER" placeholder="Player efficiency rating">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="editPrice" placeholder="Price">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
				</tr>
			</tbody>
		</table>
        
	</div>
	<footer class="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2 col-md-offset-10">
					<dl>
						<dt>Created By</dt>
						<dd>Juhyun James Oh</dd>
						<dd>Zhisheng Lie</dd>
						<dd>Kevin Kim</dd>
					</dl>
					<p>&copy; NBADex</p>
				</div>
			</div>
		</div>
	</footer>
    </div>
</body>
<script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
<script type="text/javascript">

var config = {
	apiKey: "AIzaSyCcIuaDuAx9NFJKzBj4FkuR3e320eGuS_g",
	authDomain: "nbadex-ff8cf.firebaseapp.com",
	databaseURL: "https://nbadex-ff8cf.firebaseio.com",
	storageBucket: "nbadex-ff8cf.appspot.com",
	messagingSenderId: "172457613001"
};

firebase.initializeApp(config);
const auth = firebase.auth();

$(document).ready(function(){   
	$('#LogOut').click(function() {
		console.log("trying to log out");
		event.preventDefault();
		firebase.auth().signOut();
	});
});

firebase.auth().onAuthStateChanged(user => {
	if(user){
		console.log('hi');
		console.log(user);
        //window.location = 'myTeamBootstrap.html'
    }
    else {
    	window.location = '../index.html';
    }
});

var playersRef = firebase.database().ref('players');

var app = new Vue({
    el: '#app',
    firebase: {
        players: playersRef
    },
    methods: {
        addNewPlayer: function() {
            if (event) event.preventDefault();
            var img = $("input:file");
            //console.log(img[0]);
            var imgNames = img[0].value.split('\\');
            const imgName = imgNames[imgNames.length-1];
            var imgFile = document.getElementById("imgFile").files[0];
            const names = document.getElementById("name").value;

            const firstName = names.split(" ")[0];
            const lastName = names.split(" ")[1];
            const playerPath = "Players/" + firstName + lastName;

            var playerRef = firebase.storage().ref(playerPath);

            name = firstName+lastName
            lowername = name.toLowerCase();
            var imgRef = playerRef.child(lowername);
            imgRef.put(imgFile).then(function() {
                console.log("picture upload complete");
            });

            var database = firebase.database();
            database.ref('players/'+firstName+lastName).set({
                name: names,
                position: document.getElementById("position").value,
                pointsPerGame: document.getElementById("PPG").value,
                fieldGoalPercentage: document.getElementById("FG").value,
                assistsPerGame: document.getElementById("APG").value,
                reboundsPerGame: document.getElementById("RPG").value,
                stealsPerGame: document.getElementById("SPG").value,
                blocksPerGame: document.getElementById("BPG").value,
                playerEfficiencyRating: document.getElementById("PER").value,
                price: document.getElementById("Price").value
            });
        },
        populate: function(player) {
            names = player.name;
            const firstName = names.split(" ")[0];
            const lastName = names.split(" ")[1];
            name = firstName+lastName;
            lowername = name.toLowerCase();

            firebase.storage().ref('Players/'+name).child(lowername).getDownloadURL().then(function(url) {
                var img = document.getElementById("editImg");
                img.src = url;
            });
			
            document.getElementById("editName").value = player.name;
            document.getElementById("editPosition").value = player.position;
            document.getElementById("editPPG").value = player.pointsPerGame;
            document.getElementById("editFG").value = player.fieldGoalPercentage;
            document.getElementById("editAPG").value = player.assistsPerGame;
            document.getElementById("editRPG").value = player.reboundsPerGame;
            document.getElementById("editSPG").value = player.stealsPerGame;
            document.getElementById("editBPG").value = player.blocksPerGame;
            document.getElementById("editPrice").value = player.price;
            document.getElementById("editPER").value = player.playerEfficiencyRating;
        },
        editPlayer: function() {
            if (event) event.preventDefault();
            names = document.getElementById("editName").value;
            const firstName = names.split(" ")[0];
            const lastName = names.split(" ")[1];

            var database = firebase.database();
            database.ref('players/'+firstName+lastName).update({
                position: document.getElementById("editPosition").value,
                pointsPerGame: document.getElementById("editPPG").value,
                fieldGoalPercentage: document.getElementById("editFG").value,
                assistsPerGame: document.getElementById("editAPG").value,
                reboundsPerGame: document.getElementById("editRPG").value,
                stealsPerGame: document.getElementById("editSPG").value,
                blocksPerGame: document.getElementById("editBPG").value,
                playerEfficiencyRating: document.getElementById("editPER").value,
                price: document.getElementById("editPrice").value
            });
			
			var imgFile = document.getElementById("imgFileEdit").files[0];
			console.log(imgFile);
            const playerPath = "Players/" + firstName + lastName;
            var playerRef = firebase.storage().ref(playerPath);
            name = firstName+lastName
            lowername = name.toLowerCase();
            var imgRef = playerRef.child(lowername);
            imgRef.put(imgFile).then(function() {
                console.log("picture upload complete");
            });
			
			
            console.log("updating")
        },
        deletePlayer: function(player) {
            playersRef.child(player['.key']).remove();

            names = player.name;
            const firstName = names.split(" ")[0];
            const lastName = names.split(" ")[1];
            name = firstName+lastName;
            lowername = name.toLowerCase();
            firebase.storage().ref('Players/'+name).child(lowername).delete();

            console.log("deleted " + player.name);
        }
    }
});

</script>
</html>

