<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>My Team Stats</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
        <link rel="stylesheet" href= "/css/myTeamStats.css" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    </head>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                </button>
                <a class="navbar-brand" href="myTeam.html">NBADex</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="myTeam.html">My Team</a></li>
                    <li><a href="managePlayers.html">Player Management</a></li>
                    <li class="active"><a href="myTeamStats.html">View Stats</a></li>
                    <li><a href="seasonSimulation.html">Simulate Season</a></li>
                    <li><a href="" id="LogOut">Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <body>
        <div class="container">
            <h2>James's Crew</h2>
            <table class="table table-striped table-hover">
                <caption>Overview of your team's individual player statistics</caption>
                <thead>
                    <tr>
                        <th><label>PLAYER</label></th>
                        <th><label>POS</label></th>
                        <th><label>PTS</label></th>
                        <th><label>REB</label></th>
                        <th><label>AST</label></th>
                        <th><label>STL</label></th>
                        <th><label>BLK</label></th>
                        <th><label>TO</label></th>
                        <th><label>3PM</label></th>
                        <th><label>FTM</label></th>
                        <th><label>FG %</label></th>
                        <th><label>3P %</label></th>
                        <th><label>FT %</label></th>
                        <th><label>USG %</label></th>
                        <th><label>ORTG</label></th>
                        <th><label>DRTG</label></th>
                        <th><label>TS %</label></th>
                        <th><label>EFG %</label></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Russell Westbrook</td>
                        <td>PG</td>
                        <td>27.1</td>
                        <td>7.2</td>
                        <td>7.0</td>
                        <td>1.7</td>
                        <td>0.8</td>
                        <td>3.4</td>
                        <td>1.4</td>
                        <td>6.1</td>
                        <td>50.0%</td>
                        <td>34.2%</td>
                        <td>74.2%</td>
                        <td>29.4%</td>
                        <td>113.8</td>
                        <td>106.0</td>
                        <td>61.6%</td>
                        <td>58.7%</td>
                    </tr>
                    <tr>
                        <td>James Harden</td>
                        <td>SG</td>
                        <td>27.1</td>
                        <td>7.2</td>
                        <td>7.0</td>
                        <td>1.7</td>
                        <td>0.8</td>
                        <td>3.4</td>
                        <td>1.4</td>
                        <td>6.1</td>
                        <td>50.0%</td>
                        <td>34.2%</td>
                        <td>74.2%</td>
                        <td>29.4%</td>
                        <td>113.8</td>
                        <td>106.0</td>
                        <td>61.6%</td>
                        <td>58.7%</td>
                    </tr>
                    <tr>
                        <td>Lebron James</td>
                        <td>SF</td>
                        <td>27.1</td>
                        <td>7.2</td>
                        <td>7.0</td>
                        <td>1.7</td>
                        <td>0.8</td>
                        <td>3.4</td>
                        <td>1.4</td>
                        <td>6.1</td>
                        <td>50.0%</td>
                        <td>34.2%</td>
                        <td>74.2%</td>
                        <td>29.4%</td>
                        <td>113.8</td>
                        <td>106.0</td>
                        <td>61.6%</td>
                        <td>58.7%</td>
                    </tr>
                    <tr>
                        <td>Blake Griffin</td>
                        <td>PF</td>
                        <td>27.1</td>
                        <td>7.2</td>
                        <td>7.0</td>
                        <td>1.7</td>
                        <td>0.8</td>
                        <td>3.4</td>
                        <td>1.4</td>
                        <td>6.1</td>
                        <td>50.0%</td>
                        <td>34.2%</td>
                        <td>74.2%</td>
                        <td>29.4%</td>
                        <td>113.8</td>
                        <td>106.0</td>
                        <td>61.6%</td>
                        <td>58.7%</td>
                    </tr>
                    <tr>
                        <td>Dwight Howard</td>
                        <td>C</td>
                        <td>27.1</td>
                        <td>7.2</td>
                        <td>7.0</td>
                        <td>1.7</td>
                        <td>0.8</td>
                        <td>3.4</td>
                        <td>1.4</td>
                        <td>6.1</td>
                        <td>50.0%</td>
                        <td>34.2%</td>
                        <td>74.2%</td>
                        <td>29.4%</td>
                        <td>113.8</td>
                        <td>106.0</td>
                        <td>61.6%</td>
                        <td>58.7%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
    <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
    <script type="text/javascript">
            var config = {
            apiKey: "AIzaSyCcIuaDuAx9NFJKzBj4FkuR3e320eGuS_g",
            authDomain: "nbadex-ff8cf.firebaseapp.com",
            databaseURL: "https://nbadex-ff8cf.firebaseio.com",
            storageBucket: "nbadex-ff8cf.appspot.com",
            messagingSenderId: "172457613001"
            };

            firebase.initializeApp(config);
            const auth = firebase.auth();

            $(document).ready(function(){   
                $('#LogOut').click(function() {
                    event.preventDefault();
                    firebase.auth().signOut();
                });
            });

            firebase.auth().onAuthStateChanged(user => {
                if(user){
                    console.log('hi');
                    console.log(user);
                    //window.location = 'myTeamBootstrap.html'
                }else{
                    window.location = '../index.html';
                }
            });

    </script>
</html>