<html>    
    <head>
        <meta charset="UTF-8"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href= "/css/seasonSimulation.css" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <title>Season Simultion</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                    </button>
                    <a class="navbar-brand" href="myTeam.html">NBADex</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="myTeam.html">My Team</a></li>
                        <li><a href="managePlayers.html">Player Management</a></li>
                        <li><a href="myTeamStats.html">View Stats</a></li>
                        <li class="active"><a href="seasonSimulation.html">Simulate Season</a></li>
                        <li><a href="" id="LogOut">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="seasonSimulation">
            <div class="container">
                <h2>Season Simulation</h2>
                <table class="table table-striped table-hover">
                    <caption>Results of a simulated season</caption>
                    <thead>
                        <tr>
                            <th>Team</th>
                            <th>Record</th>
                            <th>Ranking</th>
                            <th>Salary</th>
                        </tr>
                    <tbody>
                        <tr class="teamResult">
                            <td>Kevin's Team</td>
                            <td>73-9</td>
                            <td>1</td>
                            <td>$100,000,000</td>
                        </tr>
                        <tr class="teamResult">
                            <td>Kevin's Squad</td>
                            <td>65-17</td>
                            <td>2</td>
                            <td>$100,000,000</td>
                        </tr>
                        <tr class="teamResult">
                            <td>James's Crew</td>
                            <td>60-22</td>
                            <td>3</td>
                            <td>$100,000,000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </body>
    <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
    <script type="text/javascript">
            var config = {
            apiKey: "AIzaSyCcIuaDuAx9NFJKzBj4FkuR3e320eGuS_g",
            authDomain: "nbadex-ff8cf.firebaseapp.com",
            databaseURL: "https://nbadex-ff8cf.firebaseio.com",
            storageBucket: "nbadex-ff8cf.appspot.com",
            messagingSenderId: "172457613001"
            };

            firebase.initializeApp(config);
            const auth = firebase.auth();

            $(document).ready(function(){   
                $('#LogOut').click(function() {
                    event.preventDefault();
                    firebase.auth().signOut();
                });
            });

            firebase.auth().onAuthStateChanged(user => {
                if(user){
                    console.log('hi');
                    console.log(user);
                    //window.location = 'myTeamBootstrap.html'
                }else{
                    window.location = '../index.html';
                }
            });

    </script>
</html>