hr {
    height: 0.5px;
    background-color: #d4d6d8;
    margin-top: 20px;
    margin-bottom: 20px;
}

#upload_btn{
    
    position:relative;
    bottom: 25px;
    
}

.input_group{
    padding-top: 10px;
    
}

.btn-block{
    max-width: 250px;
}