.header {
    min-height: 90px;
    background-color: #28292b;
    display: flex;
    /* flex-direction: column;*/
    align-items: center; 
    /* justify-content: center;*/
    box-shadow: 2px 1px 0px #888888;
}

.header > a{
    position: absolute;
    left: 5%;
    color: white;
    font-size: 2.5em; 
    overflow: auto;
}

body {
    text-align: center;
}

.myTeamStats {
    padding-top: 10px;
}

table {
    margin: 10px auto;
}

thead {
    height: 30px;
    background-color: #032f4f;
    color: white;
}

th, td {
    padding: 10px;
    white-space: nowrap;
}

.playersStats {
  text-align: center;
  padding: 15px;
}

.playersStats:nth-child(even) {
  background-color: #f2f2f2;
}

.playersStats:hover {
  background-color: #b4b4b4;
}
